.container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

img {
    width: 100px;
    height: 40px;
    margin-top:150px;
}


.search-for {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: #EA4403;
}
